In [116]:
library(tidyverse)

In [117]:
#Reading raw file
states_data = read_csv("excel_data/SAGDP2N__ALL_AREAS_1997_2021.csv")

head(states_data)

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 4512 Columns: 28

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (14): GeoName, Description, Unit, 2000, 2005, 2006, 2007, 2008, 2009, 20...
dbl (14): 1997, 1998, 1999, 2001, 2002, 2003, 2004, 2010, 2012, 2014, 2015, ...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  GeoName Description        Unit                        1997     1998
1 Alabama All industry total Millions of current dollars 104811.9 110212.0
2 Alabama Manufacturing      Millions of current dollars  19602.7  20567.0
3 Alaska  All industry total Millions of current dollars  25810.8  24227.5
4 Alaska  Manufacturing      Millions of current dollars    870.0   1118.9
5 Arizona All industry total Millions of current dollars 132281.0 143302.6
6 Arizona Private industries Millions of current dollars 114429.6 124318.1
  1999     2000     2001     2002     2003     ⋯ 2012     2013     2014
1 115680.1 119851.7 122915.5 127505.0 134152.6 ⋯ 189245.5 194786.9 197406.9
2  21461.7 21694.1   21189.7  21250.8  21744.9 ⋯  32058.7 33737     33352.5
3  24744.3 26806.6   28494.1  29756.8  32037.9 ⋯  58283.6 57247.7   56484.9
4    884.3 829.9       948.1    919.2   1101.9 ⋯    992.0 1325       1597.4
5 155755.8 165110.7 171909.6 180522.3 193634.9 ⋯ 271440.0 278591.6 287666.6
6 135756.6 144042.8 149169.9 156331.4 167732.7 ⋯ 233709.9 240043.3 249015.1
  2015     2016     2017     2018     2019     2020     2021
1 202372.4 207368.4 215085.9 224046.9 231171.8 226896.5 247092.5
2  33529.3  34464.3 36146.6   38064.9 37528.1   35733.7 40062.4
3  51490.9  50727.7 53089.3   54711.7 54547.1   49820.0 54970.1
4   1833.6   1570.4 1821.9     1420.2 1488.9     1338.8 (D)
5 299393.3 313081.4 330416.1 349907.5 369988.2 373719.0 411191.8
6 259826.4 272463.6 288024.8 306447.4 325361.5 327118.2 363866.2

In [118]:
##Rename the columns
#Added letter "y" as it causes some issues
colnames(states_data) = c("state_name", "description", "unit", "y1997", "y1998", "y1999", "y2000", "y2001", "y2002", "y2003", "y2004", "y2005", "y2006", "y2007", "y2008", "y2009", "y2010", "y2011", "y2012", "y2013", "y2014", "y2015", "y2016", "y2017", "y2018", "y2019", "y2020", "y2021")

#Some data columns were classified as characters causing issues
#Fixing all columns to be double

states_data$y2000 = as.double(states_data$y2000)
states_data$y2005 = as.double(states_data$y2005)
states_data$y2006 = as.double(states_data$y2006)
states_data$y2007 = as.double(states_data$y2007)
states_data$y2008 = as.double(states_data$y2008)
states_data$y2009 = as.double(states_data$y2009)
states_data$y2011 = as.double(states_data$y2011)
states_data$y2013 = as.double(states_data$y2013)
states_data$y2017 = as.double(states_data$y2017)
states_data$y2019 = as.double(states_data$y2019)
states_data$y2021 = as.double(states_data$y2021)

head(states_data)

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

  state_name description        unit                        y1997    y1998
1 Alabama    All industry total Millions of current dollars 104811.9 110212.0
2 Alabama    Manufacturing      Millions of current dollars  19602.7  20567.0
3 Alaska     All industry total Millions of current dollars  25810.8  24227.5
4 Alaska     Manufacturing      Millions of current dollars    870.0   1118.9
5 Arizona    All industry total Millions of current dollars 132281.0 143302.6
6 Arizona    Private industries Millions of current dollars 114429.6 124318.1
  y1999    y2000    y2001    y2002    y2003    ⋯ y2012    y2013    y2014
1 115680.1 119851.7 122915.5 127505.0 134152.6 ⋯ 189245.5 194786.9 197406.9
2  21461.7  21694.1  21189.7  21250.8  21744.9 ⋯  32058.7  33737.0  33352.5
3  24744.3  26806.6  28494.1  29756.8  32037.9 ⋯  58283.6  57247.7  56484.9
4    884.3    829.9    948.1    919.2   1101.9 ⋯    992.0   1325.0   1597.4
5 155755.8 165110.7 171909.6 180522.3 193634.9 ⋯ 271440.0 278591.6 287666.6
6 135756.6 144042.8 149169.9 156331.4 167732.7 ⋯ 233709.9 240043.3 249015.1
  y2015    y2016    y2017    y2018    y2019    y2020    y2021
1 202372.4 207368.4 215085.9 224046.9 231171.8 226896.5 247092.5
2  33529.3  34464.3  36146.6  38064.9  37528.1  35733.7  40062.4
3  51490.9  50727.7  53089.3  54711.7  54547.1  49820.0  54970.1
4   1833.6   1570.4   1821.9   1420.2   1488.9   1338.8       NA
5 299393.3 313081.4 330416.1 349907.5 369988.2 373719.0 411191.8
6 259826.4 272463.6 288024.8 306447.4 325361.5 327118.2 363866.2

In [119]:
#Filter for only "All industry total" and "Manufacturing"

states_reduced = states_data %>%
    filter(description == "All industry total" | description == "Manufacturing")

#Brining back numbered columns
colnames(states_reduced) = c("state_name", "description", "unit", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021")

head(states_reduced)

  state_name description        unit                        1997     1998
1 Alabama    All industry total Millions of current dollars 104811.9 110212.0
2 Alabama    Manufacturing      Millions of current dollars  19602.7  20567.0
3 Alaska     All industry total Millions of current dollars  25810.8  24227.5
4 Alaska     Manufacturing      Millions of current dollars    870.0   1118.9
5 Arizona    All industry total Millions of current dollars 132281.0 143302.6
6 Arizona    Manufacturing      Millions of current dollars  21453.7  22215.9
  1999     2000     2001     2002     2003     ⋯ 2012     2013     2014
1 115680.1 119851.7 122915.5 127505.0 134152.6 ⋯ 189245.5 194786.9 197406.9
2  21461.7  21694.1  21189.7  21250.8  21744.9 ⋯  32058.7  33737.0  33352.5
3  24744.3  26806.6  28494.1  29756.8  32037.9 ⋯  58283.6  57247.7  56484.9
4    884.3    829.9    948.1    919.2   1101.9 ⋯    992.0   1325.0   1597.4
5 155755.8 165110.7 171909.6 180522.3 193634.9 ⋯ 271440.0 278591.6 287666.6
6  23932.4  22983.3  22227.9  22335.1  25649.5 ⋯  24505.2  22226.4  24070.0
  2015     2016     2017     2018     2019     2020     2021
1 202372.4 207368.4 215085.9 224046.9 231171.8 226896.5 247092.5
2  33529.3  34464.3  36146.6  38064.9  37528.1  35733.7  40062.4
3  51490.9  50727.7  53089.3  54711.7  54547.1  49820.0  54970.1
4   1833.6   1570.4   1821.9   1420.2   1488.9   1338.8       NA
5 299393.3 313081.4 330416.1 349907.5 369988.2 373719.0 411191.8
6  25819.2  26489.1  28652.4  31427.6  33304.5  32067.7  34995.1

In [125]:
##Pivot Longer/rename
states_pivotted = states_reduced %>%
    pivot_longer(cols = "1997":"2021" ,
                 names_to = "year",
                 values_to = "current_dollars_millions") %>%
    select(-unit)  #unit is redundant

states_pivotted$year = as.integer(states_pivotted$year) #convert year to an integer

head(states_pivotted)

     state_name description        year current_dollars_millions
1    Alabama    All industry total 1997 104811.9
2    Alabama    All industry total 1998 110212.0
3    Alabama    All industry total 1999 115680.1
4    Alabama    All industry total 2000 119851.7
5    Alabama    All industry total 2001 122915.5
6    Alabama    All industry total 2002 127505.0
7    Alabama    All industry total 2003 134152.6
8    Alabama    All industry total 2004 147715.2
9    Alabama    All industry total 2005 158846.8
10   Alabama    All industry total 2006 166469.0
11   Alabama    All industry total 2007 172975.2
12   Alabama    All industry total 2008 174526.3
13   Alabama    All industry total 2009 170930.9
14   Alabama    All industry total 2010 177249.2
15   Alabama    All industry total 2011 183916.6
16   Alabama    All industry total 2012 189245.5
17   Alabama    All industry total 2013 194786.9
18   Alabama    All industry total 2014 197406.9
19   Alabama    All industry total 2015 202372.4
20   Alabama    All industry total 2016 207368.4
21   Alabama    All industry total 2017 215085.9
22   Alabama    All industry total 2018 224046.9
23   Alabama    All industry total 2019 231171.8
24   Alabama    All industry total 2020 226896.5
25   Alabama    All industry total 2021 247092.5
26   Alabama    Manufacturing      1997  19602.7
27   Alabama    Manufacturing      1998  20567.0
28   Alabama    Manufacturing      1999  21461.7
29   Alabama    Manufacturing      2000  21694.1
30   Alabama    Manufacturing      2001  21189.7
⋮    ⋮          ⋮                  ⋮    ⋮
2521 Wyoming    All industry total 2017 36863.7
2522 Wyoming    All industry total 2018 39032.3
2523 Wyoming    All industry total 2019 39600.8
2524 Wyoming    All industry total 2020 36323.5
2525 Wyoming    All industry total 2021 41622.4
2526 Wyoming    Manufacturing      1997   856.9
2527 Wyoming    Manufacturing      1998   931.6
2528 Wyoming    Manufacturing      1999   881.3
2529 Wyoming    Manufacturing      2000   973.9
2530 Wyoming    Manufacturing      2001  1328.7
2531 Wyoming    Manufacturing      2002   955.5
2532 Wyoming    Manufacturing      2003  1145.9
2533 Wyoming    Manufacturing      2004  1306.2
2534 Wyoming    Manufacturing      2005  1509.5
2535 Wyoming    Manufacturing      2006  1894.8
2536 Wyoming    Manufacturing      2007  2871.7
2537 Wyoming    Manufacturing      2008  3413.6
2538 Wyoming    Manufacturing      2009  1555.6
2539 Wyoming    Manufacturing      2010  1698.5
2540 Wyoming    Manufacturing      2011  2053.1
2541 Wyoming    Manufacturing      2012  2512.7
2542 Wyoming    Manufacturing      2013  1912.4
2543 Wyoming    Manufacturing      2014  1750.5
2544 Wyoming    Manufacturing      2015  2372.1
2545 Wyoming    Manufacturing      2016  1720.5
2546 Wyoming    Manufacturing      2017  2176.3
2547 Wyoming    Manufacturing      2018  2743.2
2548 Wyoming    Manufacturing      2019  3040.4
2549 Wyoming    Manufacturing      2020  2546.0
2550 Wyoming    Manufacturing      2021  2699.3

In [121]:
#Calculating the fraction

states_percentage = states_pivotted %>%
    group_by(state_name, year) %>%        #group variables by state then year -- creating the pairs of "Manufacturing" and "All" for each year
    summarize(percentage_manufacturing = min(current_dollars_millions)/max(current_dollars_millions))  #since each grouping only contains two numbers, we can simply divide smaller by larger to get percentage

head(states_percentage)
tail(states_percentage)

`summarise()` has grouped output by 'state_name'. You can override using the `.groups` argument.

  state_name year percentage_manufacturing
1 Alabama    1997 0.1870274
2 Alabama    1998 0.1866131
3 Alabama    1999 0.1855263
4 Alabama    2000 0.1810079
5 Alabama    2001 0.1723924
6 Alabama    2002 0.1666664

  state_name year percentage_manufacturing
1 Wyoming    2016 0.04795284
2 Wyoming    2017 0.05903640
3 Wyoming    2018 0.07028026
4 Wyoming    2019 0.07677623
5 Wyoming    2020 0.07009236
6 Wyoming    2021 0.06485210

In [122]:
#Saving file into output_files folder
write_csv(states_percentage, "output_files/percentage_manufacturing.csv")

In [126]:
#Calculations to confirm procedures were done correctly
states_analysis = states_percentage %>%
    group_by(state_name) %>%
    summarize(obs = n())

states_analysis  # There are 51 states in the data set, all of which have 25 calculations for the 25 years 1997-2021. This confirms that no year was left out.

   state_name           obs
1  Alabama              25
2  Alaska               25
3  Arizona              25
4  Arkansas             25
5  California           25
6  Colorado             25
7  Connecticut          25
8  Delaware             25
9  District of Columbia 25
10 Florida              25
11 Georgia              25
12 Hawaii               25
13 Idaho                25
14 Illinois             25
15 Indiana              25
16 Iowa                 25
17 Kansas               25
18 Kentucky             25
19 Louisiana            25
20 Maine                25
21 Maryland             25
22 Massachusetts        25
23 Michigan             25
24 Minnesota            25
25 Mississippi          25
26 Missouri             25
27 Montana              25
28 Nebraska             25
29 Nevada               25
30 New Hampshire        25
31 New Jersey           25
32 New Mexico           25
33 New York             25
34 North Carolina       25
35 North Dakota         25
36 Ohio                 25
37 Oklahoma             25
38 Oregon               25
39 Pennsylvania         25
40 Rhode Island         25
41 South Carolina       25
42 South Dakota         25
43 Tennessee            25
44 Texas                25
45 Utah                 25
46 Vermont              25
47 Virginia             25
48 Washington           25
49 West Virginia        25
50 Wisconsin            25
51 Wyoming              25