In [78]:
library(tidyverse)

In [79]:
#Reading file
states_data = read_csv("excel_data/SAGDP2N__ALL_AREAS_1997_2021.csv")

head(states_data)

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 4512 Columns: 28

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (14): GeoName, Description, Unit, y2000, y2005, y2006, y2007, y2008, y20...
dbl (14): y1997, y1998, y1999, y2001, y2002, y2003, y2004, y2010, y2012, y20...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  GeoName Description        Unit                        y1997    y1998
1 Alabama All industry total Millions of current dollars 104811.9 110212.0
2 Alabama Manufacturing      Millions of current dollars  19602.7  20567.0
3 Alaska  All industry total Millions of current dollars  25810.8  24227.5
4 Alaska  Manufacturing      Millions of current dollars    870.0   1118.9
5 Arizona All industry total Millions of current dollars 132281.0 143302.6
6 Arizona Private industries Millions of current dollars 114429.6 124318.1
  y1999    y2000    y2001    y2002    y2003    ⋯ y2012    y2013    y2014
1 115680.1 119851.7 122915.5 127505.0 134152.6 ⋯ 189245.5 194786.9 197406.9
2  21461.7 21694.1   21189.7  21250.8  21744.9 ⋯  32058.7 33737     33352.5
3  24744.3 26806.6   28494.1  29756.8  32037.9 ⋯  58283.6 57247.7   56484.9
4    884.3 829.9       948.1    919.2   1101.9 ⋯    992.0 1325       1597.4
5 155755.8 165110.7 171909.6 180522.3 193634.9 ⋯ 271440.0 278591.6 287666.6
6 135756.6 144042.8 149169.9 156331.4 167732.7 ⋯ 233709.9 240043.3 249015.1
  y2015    y2016    y2017    y2018    y2019    y2020    y2021
1 202372.4 207368.4 215085.9 224046.9 231171.8 226896.5 247092.5
2  33529.3  34464.3 36146.6   38064.9 37528.1   35733.7 40062.4
3  51490.9  50727.7 53089.3   54711.7 54547.1   49820.0 54970.1
4   1833.6   1570.4 1821.9     1420.2 1488.9     1338.8 (D)
5 299393.3 313081.4 330416.1 349907.5 369988.2 373719.0 411191.8
6 259826.4 272463.6 288024.8 306447.4 325361.5 327118.2 363866.2

In [86]:
##Rename the columns
colnames(states_data) = c("state_name", "description", "unit", "y1997", "y1998", "y1999", "y2000", "y2001", "y2002", "y2003", "y2004", "y2005", "y2006", "y2007", "y2008", "y2009", "y2010", "y2011", "y2012", "y2013", "y2014", "y2015", "y2016", "y2017", "y2018", "y2019", "y2020", "y2021")

#Some data columns were classified as characters causing issues
#Fixing all columns to be double

states_data$y2000 = as.double(states_data$y2000)
states_data$y2005 = as.double(states_data$y2005)
states_data$y2006 = as.double(states_data$y2006)
states_data$y2007 = as.double(states_data$y2007)
states_data$y2008 = as.double(states_data$y2008)
states_data$y2009 = as.double(states_data$y2009)
states_data$y2011 = as.double(states_data$y2011)
states_data$y2013 = as.double(states_data$y2013)
states_data$y2017 = as.double(states_data$y2017)
states_data$y2019 = as.double(states_data$y2019)
states_data$y2021 = as.double(states_data$y2021)

head(states_data)

  state_name description        unit                        y1997    y1998
1 Alabama    All industry total Millions of current dollars 104811.9 110212.0
2 Alabama    Manufacturing      Millions of current dollars  19602.7  20567.0
3 Alaska     All industry total Millions of current dollars  25810.8  24227.5
4 Alaska     Manufacturing      Millions of current dollars    870.0   1118.9
5 Arizona    All industry total Millions of current dollars 132281.0 143302.6
6 Arizona    Private industries Millions of current dollars 114429.6 124318.1
  y1999    y2000    y2001    y2002    y2003    ⋯ y2012    y2013    y2014
1 115680.1 119851.7 122915.5 127505.0 134152.6 ⋯ 189245.5 194786.9 197406.9
2  21461.7  21694.1  21189.7  21250.8  21744.9 ⋯  32058.7  33737.0  33352.5
3  24744.3  26806.6  28494.1  29756.8  32037.9 ⋯  58283.6  57247.7  56484.9
4    884.3    829.9    948.1    919.2   1101.9 ⋯    992.0   1325.0   1597.4
5 155755.8 165110.7 171909.6 180522.3 193634.9 ⋯ 271440.0 278591.6 287666.6
6 135756.6 144042.8 149169.9 156331.4 167732.7 ⋯ 233709.9 240043.3 249015.1
  y2015    y2016    y2017    y2018    y2019    y2020    y2021
1 202372.4 207368.4 215085.9 224046.9 231171.8 226896.5 247092.5
2  33529.3  34464.3  36146.6  38064.9  37528.1  35733.7  40062.4
3  51490.9  50727.7  53089.3  54711.7  54547.1  49820.0  54970.1
4   1833.6   1570.4   1821.9   1420.2   1488.9   1338.8       NA
5 299393.3 313081.4 330416.1 349907.5 369988.2 373719.0 411191.8
6 259826.4 272463.6 288024.8 306447.4 325361.5 327118.2 363866.2

In [90]:
#Filter for only "All industry total" and "Manufacturing"

states_reduced = states_data %>%
    filter(description == "All industry total" | description == "Manufacturing")

head(states_reduced)

  state_name description        unit                        y1997    y1998
1 Alabama    All industry total Millions of current dollars 104811.9 110212.0
2 Alabama    Manufacturing      Millions of current dollars  19602.7  20567.0
3 Alaska     All industry total Millions of current dollars  25810.8  24227.5
4 Alaska     Manufacturing      Millions of current dollars    870.0   1118.9
5 Arizona    All industry total Millions of current dollars 132281.0 143302.6
6 Arizona    Manufacturing      Millions of current dollars  21453.7  22215.9
  y1999    y2000    y2001    y2002    y2003    ⋯ y2012    y2013    y2014
1 115680.1 119851.7 122915.5 127505.0 134152.6 ⋯ 189245.5 194786.9 197406.9
2  21461.7  21694.1  21189.7  21250.8  21744.9 ⋯  32058.7  33737.0  33352.5
3  24744.3  26806.6  28494.1  29756.8  32037.9 ⋯  58283.6  57247.7  56484.9
4    884.3    829.9    948.1    919.2   1101.9 ⋯    992.0   1325.0   1597.4
5 155755.8 165110.7 171909.6 180522.3 193634.9 ⋯ 271440.0 278591.6 287666.6
6  23932.4  22983.3  22227.9  22335.1  25649.5 ⋯  24505.2  22226.4  24070.0
  y2015    y2016    y2017    y2018    y2019    y2020    y2021
1 202372.4 207368.4 215085.9 224046.9 231171.8 226896.5 247092.5
2  33529.3  34464.3  36146.6  38064.9  37528.1  35733.7  40062.4
3  51490.9  50727.7  53089.3  54711.7  54547.1  49820.0  54970.1
4   1833.6   1570.4   1821.9   1420.2   1488.9   1338.8       NA
5 299393.3 313081.4 330416.1 349907.5 369988.2 373719.0 411191.8
6  25819.2  26489.1  28652.4  31427.6  33304.5  32067.7  34995.1

In [94]:
##Pivot Longer/rename
states_pivotted = states_reduced %>%
    pivot_longer(cols = "y1997":"y2021" ,
                 names_to = "year",
                 values_to = "current_dollars_millions") %>%
    select(-unit)  #unit is redundant

head(states_pivotted)

  state_name description        year  current_dollars_millions
1 Alabama    All industry total y1997 104811.9
2 Alabama    All industry total y1998 110212.0
3 Alabama    All industry total y1999 115680.1
4 Alabama    All industry total y2000 119851.7
5 Alabama    All industry total y2001 122915.5
6 Alabama    All industry total y2002 127505.0

In [100]:
#Calculating the fraction

states_percentage = states_pivotted %>%
    group_by(state_name, year) %>%
    summarize(percentage_manufacturing = min(current_dollars_millions)/max(current_dollars_millions))

head(states_percentage)
tail(states_percentage)

`summarise()` has grouped output by 'state_name'. You can override using the `.groups` argument.

  state_name year  percentage_manufacturing
1 Alabama    y1997 0.1870274
2 Alabama    y1998 0.1866131
3 Alabama    y1999 0.1855263
4 Alabama    y2000 0.1810079
5 Alabama    y2001 0.1723924
6 Alabama    y2002 0.1666664

  state_name year  percentage_manufacturing
1 Wyoming    y2016 0.04795284
2 Wyoming    y2017 0.05903640
3 Wyoming    y2018 0.07028026
4 Wyoming    y2019 0.07677623
5 Wyoming    y2020 0.07009236
6 Wyoming    y2021 0.06485210

In [99]:
#Saving file into output_files folder
write_csv(states_percentage, "output_files/percentage_manufacturing.csv")